[Unit]
Description=Sporly Docker Compose Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/sporly
ExecStart=/usr/bin/docker compose --env-file /opt/sporly/.env.prod -f /opt/sporly/docker-compose.prod.yml up -d
ExecStop=/usr/bin/docker compose --env-file /opt/sporly/.env.prod -f /opt/sporly/docker-compose.prod.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
